body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8d9e1;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: hwb(225 96% 2%);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.analysis-item {
    margin-bottom: 15px;
}

/* Glow effect */
.container:hover {
    box-shadow: 0 0 10px rgba(238, 27, 4, 0.5);
}

/* Media queries */
@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 90%;
    }
}